<div class="fixed">
  <nav class="top-bar nav-padding color-and-opacity show-for-medium-up" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "MV Listr", root_path, class: "title" %></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <% if current_user %>
        <ul class="left">
          <li class="has-form bt">
            <%= form_tag recommendations_path, method: "post" do %>
              <div class="row collapse">
                <div class="small-7 columns">
                  <%= text_field_tag "search_1", nil, placeholder: "Add a movie" %>
                </div>
                <div class="small-5 columns">
                  <%= submit_tag "Search", class: "font-position secondary button" %>
                </div>
              </div>
            <% end %>
          </li>
        </ul>
      <% end %>

      <ul class="right">
        <% if current_user %>
          <div class="show-for-medium">
            <li class="has-dropdown bt">
              <%= link_to "Recommendations", "", class: "font-size bt" %>
              <ul class="dropdown">
                <div style="margin-top: 5px" ></div>
                <li>
                  <%= link_to "Watched Recommendations", recommendations_watched_path, class: "font-size" %>
                </li>
                <li>
                  <%= link_to "Recommendations", recommendations_path, class: "font-size" %>
                </li>
              </ul>
              <li class="active">
                <%= link_to "Sign out", logout_path, method: :delete, class: "round-button" %>
              </li>
            </li>
          </div>

          <div class="show-for-large-up">
            <li>
              <%= link_to "Watched Recommendations", recommendations_watched_path, class: "font-size bt" %>
            </li>
            <li>
              <%= link_to "Recommendations", recommendations_path, class: "font-size bt" %>
            </li>
            <li class="active">
              <%= link_to "Sign out", logout_path, method: :delete, class: "round-button" %>
            </li>
          </div>
        <% else %>
          <% if Rails.env.development? %>
            <%= render partial: "shared/development_users_dropdown" %>
          <% end %>
          <li class="active">
            <%= link_to "Login with Twitter", auth_twitter_path, class: "round-button" %>
          </li>
        <% end %>
      </ul>
    </section>
  </nav>

  <nav class="top-bar show-for-small" data-topbar role="navigation">
    <%= render partial: "shared/mobile_nav_bar" %>
  </nav>

  <%= render partial: "shared/flash" %>
</div>
