<div class="row collapse">
  <div class="large-2 small-8 small-centered large-uncentered columns">
    <span><%= image_tag(recommendation.poster) %></span>
  </div>
  <div class="large-10 large-uncentered columns">
    <ul style="list-style-type: none">
      <li>
        <span class="movie-title"><%= recommendation.title.titleize %></span>
        <%= "(#{recommendation.year})" %>
      </li>
      <li>
        <span class="movie-rating"><%= recommendation.rated %></span>
        <%= recommendation.runtime %>
        &nbsp; - &nbsp;
        <%= recommendation.genre.gsub(",", " | ") %>
        &nbsp; - &nbsp;
        <%= recommendation.released %>
      </li>
      <div class="line-separator"></div>
      <li>
        <%= recommendation.plot %>
      </li>
      <div class="line-separator"></div>

      <% if viewing_recommendations? %>
        <%= button_to('Mark as watched',
                      { action: "update", id: recommendation.id, watched_status: true },
                      method: "put", remote: true, class: "watched")
        %>
      <% else %>
        <%= button_to('Mark as unwatched',
                      { action: "update", id: recommendation.id, watched_status: false },
                      method: "put", remote: true, class: "watched")
        %>
      <% end %>

      <%= button_to('Delete',
                    { action: "destroy", id: recommendation.id },
                    method: "delete", remote: true, class: "delete")
      %>
    </ul>
  </div>
</div>
